<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/boot.js"
        id="pe_theme_boot-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/jquery.mobile.custom.min.js"
        id="pe_theme_mobile-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.utils.browser.js"
        id="pe_theme_utils_browser-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.menu.js"
        id="pe_theme_menu-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/jquery.smoothscroll.js"
        id="pe_theme_smoothscroll-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/waypoints.js"
        id="pe_theme_waypoints-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/jquery.parallax-1.1.3.js"
        id="pe_theme_parallax-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/jquery.mb.YTPlayer.js"
        id="pe_theme_yt_bg_player-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.lazyload.js"
        id="pe_theme_lazyload-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.loadmore.js"
        id="pe_theme_loadmore-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/admin/jquery.theme.utils.js"
        id="pe_theme_utils-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.mousewheel.js"
        id="pe_theme_mousewheel-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.utils.geom.js"
        id="pe_theme_utils_geom-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.utils.preloader.js"
        id="pe_theme_utils_preloader-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.utils.transition.js"
        id="pe_theme_utils_transition-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.transform.js"
        id="pe_theme_transform-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.utils.youtube.js"
        id="pe_theme_utils_youtube-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/froogaloop.js"
        id="pe_theme_froogaloop-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.utils.vimeo.js"
        id="pe_theme_utils_vimeo-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.video.js"
        id="pe_theme_video-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.videoPlayer.js"
        id="pe_theme_videoPlayer-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.utils.ticker.js"
        id="pe_theme_utils_ticker-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.backgroundSlider.js"
        id="pe_theme_backgroundSlider-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.flare.lightbox.js"
        id="pe_theme_flare_common-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.simplethumb.js"
        id="pe_theme_flare_simplethumb-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.flare.lightbox.render.gallery.js"
        id="pe_theme_flare_gallery-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.flare.lightbox.render.image.js"
        id="pe_theme_flare-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.volo.js"
        id="pe_theme_volo-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.volo.simpleskin.js"
        id="pe_theme_volo_skin-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.volo.captions.js"
        id="pe_theme_volo_captions-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.vario.js"
        id="pe_theme_vario-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.vista.js"
        id="pe_theme_vista-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/bootstrap/2.2.1/js/bootstrap.min.js"
        id="pe_theme_bootstrap-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.widgets.js"
        id="pe_theme_widgets-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.widgets.bslinks.js"
        id="pe_theme_widgets_bslinks-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.contactForm.js"
        id="pe_theme_contactForm-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.widgets.contact.js"
        id="pe_theme_widgets_contact-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.widgets.bootstrap.js"
        id="pe_theme_widgets_bootstrap-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/jquery.isotope.min.js"
        id="pe_theme_isotope-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.isotope.js"
        id="pe_theme_peisotope-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.widgets.isotope.js"
        id="pe_theme_widgets_isotope-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.widgets.backgroundSlider.js"
        id="pe_theme_widgets_backgroundSlider-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.widgets.volo.js"
        id="pe_theme_widgets_volo-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.widgets.carousel.js"
        id="pe_theme_widgets_carousel-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.newsletter.js"
        id="pe_theme_newsletter-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.widgets.newsletter.js"
        id="pe_theme_widgets_newsletter-js"></script>
<!--<script type="text/javascript"-->
<!--        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.widgets.gmap.js"-->
<!--        id="pe_theme_widgets_gmap-js"></script>-->
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.widgets.dynamicBackground.js"
        id="pe_theme_widgets_dynamicBackground-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.widgets.social.facebook.js"
        id="pe_theme_widgets_social_facebook-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.widgets.social.twitter.js"
        id="pe_theme_widgets_social_twitter-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.widgets.social.pinterest.js"
        id="pe_theme_widgets_social_pinterest-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.widgets.social.google.js"
        id="pe_theme_widgets_social_google-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.scroll.js"
        id="pe_theme_scroll-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.ajaxportfolio.js"
        id="pe_theme_ajaxportfolio-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/jquery.pixelentity.widgets.ajaxportfolio.js"
        id="pe_theme_widgets_ajaxportfolio-js"></script>
<script type="text/javascript"
        src="/assets/themes/oneup/theme/js/pe/pixelentity.controller.js"
        id="pe_theme_controller-js"></script>
<script type="text/javascript" id="pe_theme_init-js-extra">
    /* <![CDATA[ */
    var peThemeOptions = {"animations": "yes"};
    /* ]]> */
</script>
<script type="text/javascript"
        src="/assets/themes/oneup/framework/js/pe/init.js"
        id="pe_theme_init-js"></script>
<!--<script type="text/javascript"-->
<!--        src="https://maps.google.com/maps/api/js?key=AIzaSyC-6SGUkYw5bgognwalFgszHy38hLZn0kU&#038;libraries=geometry%2Cplaces%2Cweather%2Cpanoramio%2Cdrawing&#038;language=en&#038;ver=5.6.11"-->
<!--        id="wpgmp-google-api-js"></script>-->
