{% assign url = page.url | replace: page.language, '' | replace: '//', '' | replace: '.html', '' %}
                <header class="row-fluid">
                    <div class="span12">
                        <a class="logo"
                           href="/{{ page.language }}/"
                           title="Home">
                            <img src="/assets/img/CTBClogo1.png"
                                 width="130"
                                 height="140" alt>
                        </a>

                        <div class="pe-wpml-lang-selector">
                            <div class="lang_sel_list_horizontal wpml-ls-statics-shortcode_actions wpml-ls wpml-ls-legacy-list-horizontal"
                                 id="lang_sel_list">
                                <ul>
                                    <li class="icl-en wpml-ls-slot-shortcode_actions wpml-ls-item wpml-ls-item-en wpml-ls-current-language wpml-ls-first-item wpml-ls-item-legacy-list-horizontal">
                                        <a href="/en/"
                                           class="lang_sel_sel">
                                            <img class="wpml-ls-flag iclflag"
                                                src="/assets/sitepress-multilingual-cms/res/flags/en.png"
                                                alt="en"
                                                 title="English">
                                            <span class="wpml-ls-native icl_lang_sel_native">
                                                English
                                            </span>
                                        </a>
                                    </li>
                                    <li class="icl-ru wpml-ls-slot-shortcode_actions wpml-ls-item wpml-ls-item-ru wpml-ls-last-item wpml-ls-item-legacy-list-horizontal">
                                        <a href="/ru/"
                                           class="lang_sel_other">
                                            <img class="wpml-ls-flag iclflag"
                                                src="/assets/sitepress-multilingual-cms/res/flags/ru.png"
                                                alt="ru"
                                                 title="Русский">
                                            <span class="wpml-ls-native icl_lang_sel_native">
                                                Русский
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <nav class="pe-menu-main">
                            <ul id="navigation" class="pe-menu">
                                <li id="menu-item-1495"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-15 current_page_item menu-item-1495{% if (url == '' %} active{% endif %}">
                                    <a href="/{{ page.language }}/"
                                       aria-current="page">
                                        {{ site.data[page.language].menu_home }}
                                    </a>
                                </li>
                                <li id="menu-item-1493"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1493{% if (url == 'about' %} active{% endif %}">
                                    <a href="/{{ page.language }}/about/">
                                        {{ site.data[page.language].menu_about }}
                                    </a>
                                </li>
                                <li id="menu-item-1489"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1489{% if (url == 'services' %} active{% endif %}">
                                    <a href="/{{ page.language }}/services/">
                                        {{ site.data[page.language].menu_services }}
                                    </a>
                                </li>
                                <li id="menu-item-{{ page.language }}-visual-tour"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-1487{% if (url == 'visual-tour' %} active{% endif %}">
                                    <a href="/{{ page.language }}/visual-tour/">
                                        {{ site.data[page.language].menu_visual_tour }}
                                        <b class="icon-down-open-mini"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li id="menu-item-2099"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2099">
                                            <a target="_blank" rel="noopener"
                                               href="/{{ page.language }}/tour/">
                                                {{ site.data[page.language].menu_360 }}
                                            </a>
                                        </li>
                                        <li id="menu-item-1505"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1505">
                                            <a href="/{{ page.language }}/visual-tour/#photo_gallery">
                                                {{ site.data[page.language].menu_photo_gallery }}
                                            </a>
                                        </li>
                                        <li id="menu-item-1507"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1507">
                                            <a href="/{{ page.language }}/visual-tour/#floor_plans">
                                                {{ site.data[page.language].menu_floor_plans }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-1491"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1491{% if (url == 'location' %} active{% endif %}">
                                    <a href="/{{ page.language }}/location/">
                                        {{ site.data[page.language].menu_location }}
                                    </a>
                                </li>
                                <li id="menu-item-1509"
                                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active menu-item-1509">
                                    <a href="/{{ page.language }}/#contact_us"
                                       aria-current="page">
                                        {{ site.data[page.language].menu_contact }}
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </header>
