<head>
    <meta charset="UTF-8"/>
    <title>{{ site.data.settings.title }}</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="format-detection" content="telephone=no"/>
    <!--[if lt IE 9]>
    <script type="text/javascript">/*@cc_on'abbr article aside audio canvas details figcaption figure footer header hgroup mark meter nav output progress section summary subline time video'.replace(/\w+/g,function(n){document.createElement(n)})@*/</script>
    <![endif]-->
    <script type="text/javascript">if (Function('/*@cc_on return document.documentMode===10@*/')()) {
        document.documentElement.className += ' ie10';
    }</script>
    <script type="text/javascript">(function (H) {
        H.className = H.className.replace(/\bno-js\b/, 'js')
    })(document.documentElement)</script>
    <script type="text/javascript">
        (function (u, i) {
            if (u[i]('Safari') > -1 && u[i]('Mobile') === -1 && u[i]('Chrome') === -1) {
                document.documentElement.className += ' safari';
            }
        }(navigator.userAgent, 'indexOf'));
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <link rel="shortcut icon"
          href="/assets/img/favicon.png"/>
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700&amp;subset=latin,latin-ext"/>

    <link rel="alternate" hreflang="en-US" href="https://ctbc.com.cy/en/"/>
    <link rel="alternate" hreflang="ru-RU" href="https://ctbc.com.cy/ru/"/>
    <link rel='dns-prefetch' href='//s.w.org'/>
    <link rel='stylesheet' id='pe_theme_reset-css'
          href='/assets/oneup/framework/css/reset.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_bootstrap-css'
          href='/assets/oneup/framework/js/bootstrap/2.2.1/css/bootstrap.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_bootstrap_responsive-css'
          href='/assets/oneup/framework/js/bootstrap/2.2.1/css/bootstrap-responsive.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_windfall_icon_font-css'
          href='/assets/oneup/css/entypo-icon-font.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_video-css'
          href='/assets/oneup/framework/css/video/style.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_background-css'
          href='/assets/oneup/framework/css/jquery.pixelentity.background.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_isotope_plugin-css'
          href='/assets/oneup/framework/css/isotope.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_isotope-css'
          href='/assets/oneup/framework/css/jquery.pixelentity.isotope.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_carousel-css'
          href='/assets/oneup/framework/css/jquery.pixelentity.carousel.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_ajaxportfolio-css'
          href='/assets/oneup/framework/css/jquery.pixelentity.ajaxportfolio.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_volo-css'
          href='/assets/oneup/framework/js/pe.volo/themes/common.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_vario-css'
          href='/assets/oneup/framework/css/vario-transitions.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_flare_common-css'
          href='/assets/oneup/framework/js/pe.flare/themes/common.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_flare-css'
          href='/assets/oneup/framework/js/pe.flare/themes/default/skin.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_windfall_slider_ui-css'
          href='/assets/oneup/css/slider_ui.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_animate_css-css'
          href='/assets/oneup/framework/css/animate.min.css?ver=1449214048'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_windfall_slider_captions-css'
          href='/assets/oneup/css/slider_captions.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_windfall_slider_captions_style-css'
          href='/assets/oneup/css/slider_captions_style.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_windfall_menu-css'
          href='/assets/oneup/css/menu.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_windfall_menu_style-css'
          href='/assets/oneup/css/menu_style.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_windfall_style-css'
          href='/assets/oneup/css/style.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_windfall_style_responsive-css'
          href='/assets/oneup/css/style_responsive.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='pe_theme_init-css'
          href='/assets/oneup/style.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='contact-form-7-css'
          href='https://ctbc.com.cy/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.0.3'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='wpml-legacy-horizontal-list-0-css'
          href='https://ctbc.com.cy/wp-content/plugins/sitepress-multilingual-cms/templates/language-switchers/legacy-list-horizontal/style.css?ver=1'
          type='text/css' media='all'/>
    <style id='wpml-legacy-horizontal-list-0-inline-css' type='text/css'>
        .wpml-ls-statics-shortcode_actions {
            background-color: #eeeeee;
        }

        .wpml-ls-statics-shortcode_actions, .wpml-ls-statics-shortcode_actions .wpml-ls-sub-menu, .wpml-ls-statics-shortcode_actions a {
            border-color: #cdcdcd;
        }

        .wpml-ls-statics-shortcode_actions a {
            color: #444444;
            background-color: #ffffff;
        }

        .wpml-ls-statics-shortcode_actions a:hover, .wpml-ls-statics-shortcode_actions a:focus {
            color: #000000;
            background-color: #eeeeee;
        }

        .wpml-ls-statics-shortcode_actions .wpml-ls-current-language > a {
            color: #444444;
            background-color: #ffffff;
        }

        .wpml-ls-statics-shortcode_actions .wpml-ls-current-language:hover > a, .wpml-ls-statics-shortcode_actions .wpml-ls-current-language > a:focus {
            color: #000000;
            background-color: #eeeeee;
        }
    </style>
    <link rel='stylesheet' id='popup-maker-site-css'
          href='//ctbc.com.cy/wp-content/uploads/pum/pum-site-styles.css?generated=1591951059&#038;ver=1.10.2'
          type='text/css' media='all'/>
    <script type='text/javascript'
            src='https://ctbc.com.cy/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript'
            src='https://ctbc.com.cy/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript'
            src='/assets/oneup/framework/js/jquery.debouncedresize.js?ver=1449214076'></script>
    <!--[if lt IE 8]>
    <script type='text/javascript'
            src='https://ctbc.com.cy/wp-includes/js/json2.min.js?ver=2015-05-03'></script>
    <![endif]-->
    <link rel='https://api.w.org/' href='https://ctbc.com.cy/wp-json/'/>
    <link rel="EditURI" type="application/rsd+xml" title="RSD"
          href="https://ctbc.com.cy/xmlrpc.php?rsd"/>
    <link rel="wlwmanifest" type="application/wlwmanifest+xml"
          href="https://ctbc.com.cy/wp-includes/wlwmanifest.xml"/>
    <link rel="canonical" href="https://ctbc.com.cy/"/>
    <link rel='shortlink' href='https://ctbc.com.cy/'/>
    <link rel="alternate" type="application/json+oembed"
          href="https://ctbc.com.cy/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fctbc.com.cy%2F"/>
    <link rel="alternate" type="text/xml+oembed"
          href="https://ctbc.com.cy/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fctbc.com.cy%2F&#038;format=xml"/>
    <link rel='stylesheet'
          href='/assets/css/app.css?ver={{ site.data.settings.asset_tag }}'
          type='text/css' media='all'/>
    <script type="text/javascript">
        /* <![CDATA[ */
        function initialize() {
            var mapOptions = {
                zoom: 17,
                center: new google.maps.LatLng(34.676849, 33.048817)
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);

            var marker = new google.maps.Marker({
                position: map.getCenter(),
                icon: '/assets/img/arrow.png',
                map: map
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
        /* ]]> */
    </script>
    <script type="text/javascript">function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    }

    function show_popup() {
        var target = jQuery(window.location.hash);
        target = target.length ? target : jQuery('[name=' + window.location.hash.slice(1) + ']');

        if (target.length) {

            jQuery('html,body').animate({
                scrollTop: (target.offset().top - 130)
            }, 1000);

            return false;
        }
    };

    //jQuery(document).ready(function(){
    jQuery(window).load(function () {
        //
        // jQuery('#menu-item-1487 > a').click(function () {
        //     window.location = "https://ctbc.com.cy/visual-tour/";
        // });
        //
        // jQuery('#menu-item-1609 > a').click(function () {
        //     window.location = "https://ctbc.com.cy/visual-tour-2?lang=ru";
        // });
        //
        //
        // //var section =  getUrlParameter('section');
        //
        // jQuery('a[href*=#]:not([href=#])').click(function () {
        //
        //     if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
        //         var target = jQuery(this.hash);
        //         target = target.length ? target : jQuery('[name=' + this.hash.slice(1) + ']');
        //
        //         if (target.length) {
        //
        //             jQuery('html,body').animate({
        //                 scrollTop: (target.offset().top - 130)
        //             }, 1000);
        //
        //             return false;
        //         }
        //     }
        // });

//var elem = jQuery('#_' + window.location.hash.replace('#', ''));

        if (window.location.hash != '') {
            /*
            var scrollTop     = jQuery(window).scrollTop();
            var elementOffset = jQuery(window.location.hash).offset().top;
            var elementheight = jQuery(window.location.hash).height();

            var distance      = elementOffset - jQuery(window).height();

            jQuery('html,body').animate({ scrollTop: (distance) }, 1000);

            var locationid = window.location.hash;

            jQuery(window.location.hash)[0].scrollIntoView();

            jQuery('html,body').animate({
            scrollTop: (elementOffset-130)
            }, 1000);
            */

            var target = jQuery(window.location.hash);
            target = target.length ? target : jQuery('[name=' + window.location.hash.slice(1) + ']');

            //window.setTimeout( show_popup, 500 );
            show_popup();
        }

    });</script>
</head>
