    <head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="format-detection" content="telephone=no"/>

    <link rel="shortcut icon" href="/assets/img/favicon.png"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700&amp;subset=latin,latin-ext"/>

    <title>CT Business Center</title>

    <link rel="canonical" href="/"/>

    <meta property="og:site_name" content="CT Business Center -"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="CT Business Center"/>
    <meta property="og:url" content="{{ site.data.settings.url }}/"/>

    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:domain" content="ctbc.com.cy"/>
    <meta property="twitter:title" content="CT Business Center"/>

    <link rel="alternate" hreflang="en-US" href="/en/"/>
    <link rel="alternate" hreflang="ru-RU" href="/ru"/>

    <link rel="dns-prefetch" href="https://s.w.org/"/>

    <link rel="stylesheet"
          id="pe_theme_reset-css"
          href="/assets/themes/oneup/framework/css/reset.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_bootstrap-css"
          href="/assets/themes/oneup/framework/js/bootstrap/2.2.1/css/bootstrap.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_bootstrap_responsive-css"
          href="/assets/themes/oneup/framework/js/bootstrap/2.2.1/css/bootstrap-responsive.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_windfall_icon_font-css"
          href="/assets/themes/oneup/css/entypo-icon-font.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_video-css"
          href="/assets/themes/oneup/framework/css/video/style.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_background-css"
          href="/assets/themes/oneup/framework/css/jquery.pixelentity.background.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_isotope_plugin-css"
          href="/assets/themes/oneup/framework/css/isotope.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_isotope-css"
          href="/assets/themes/oneup/framework/css/jquery.pixelentity.isotope.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_carousel-css"
          href="/assets/themes/oneup/framework/css/jquery.pixelentity.carousel.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_ajaxportfolio-css"
          href="/assets/themes/oneup/framework/css/jquery.pixelentity.ajaxportfolio.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_volo-css"
          href="/assets/themes/oneup/framework/js/pe.volo/themes/common.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_vario-css"
          href="/assets/themes/oneup/framework/css/vario-transitions.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_flare_common-css"
          href="/assets/themes/oneup/framework/js/pe.flare/themes/common.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_flare-css"
          href="/assets/themes/oneup/framework/js/pe.flare/themes/default/skin.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_windfall_slider_ui-css"
          href="/assets/themes/oneup/css/slider_ui.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_animate_css-css"
          href="/assets/themes/oneup/framework/css/animate.min.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_windfall_slider_captions-css"
          href="/assets/themes/oneup/css/slider_captions.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_windfall_slider_captions_style-css"
          href="/assets/themes/oneup/css/slider_captions_style.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_windfall_menu-css"
          href="/assets/themes/oneup/css/menu.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_windfall_menu_style-css"
          href="/assets/themes/oneup/css/menu_style.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_windfall_style-css"
          href="/assets/themes/oneup/css/style.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_windfall_style_responsive-css"
          href="/assets/themes/oneup/css/style_responsive.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="pe_theme_init-css"
          href="/assets/themes/oneup/style.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="wp-block-library-css"
          href="/assets/css/dist/block-library/style.min.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="contact-form-7-css"
          href="/assets/contact-form-7/includes/css/styles.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="wpml-legacy-horizontal-list-0-css"
          href="/assets/sitepress-multilingual-cms/templates/language-switchers/legacy-list-horizontal/style.css"
          type="text/css"
          media="all"/>
    <link rel="stylesheet"
          id="wp-head-css"
          href="/assets/css/head.css"
          type="text/css"
          media="all"/>
    <script type="text/javascript"
            src="/assets/js/jquery/jquery.min.js"
            id="jquery-core-js"></script>
    <script type="text/javascript"
            src="/assets/js/jquery/jquery-migrate.min.js"
            id="jquery-migrate-js"></script>
    <script type="text/javascript"
            src="/assets/themes/oneup/framework/js/jquery.debouncedresize.js"
            id="pe_theme_debouncedresize-js"></script>

    <link rel="shortlink" href="/{{ page.language }}"/>

    <link rel="stylesheet"
          id="wp-head2-css"
          href="/assets/css/head2.css"
          type="text/css"
          media="all"/>

    <script type="text/javascript" src="/assets/js/popup.js"></script>
</head>
