---
layout: default
---
        <section
                class="pe-main-section pe-splash-section pe-full-page pe-no-resize"
                id="section-splash"
                data-maxheight="0"
                data-minheight="300">
            <div class="peCaption pe-caption-persistent"
                 data-orig-width="940"
                 data-orig-height="300">
                <div class="peCaptionLayer"
                     data-origin="center"
                     data-transition="fadeIn"
                     data-duration="1"
                     data-delay="0"
                     data-x="0"
                     data-y="-100">
                    <div class="wrapper">
                        <a href="/{{ page.language }}/about/#about">
                            <img src="/assets/img/logo_about_{{ page.language }}.png"
                                 width="110"
                                 height="155"
                                 alt>
                            <span>
                                {{ site.data[page.language].about_about_us }}<i class="icon-down-open-mini"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pe-block">
                <div class="peSlider peVolo peNeedResize pe-block"
                     data-autopause="disabled"
                     data-speed="25"
                     data-fade="2"
                     data-transition="pz"
                     data-plugin="peVista"
                     data-controls-arrows="edges-full"
                     data-controls-bullets="disabled"
                     data-icon-font="enabled"
                     data-height="0,2.35,0">
                    <div class="peWrap">
                        <div data-delay="7" class="visible scale">
                            <img alt width="1280"
                                 height="720"
                                 src="/assets/img/about_us_background.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-10 pe-style-light"
                id="section-section10"
                style="padding: 60px 0 60px 0; background-color:#29353a;background-color:rgba(41,53,58,1);">
            <div class="pe-block pe-view-layout-block pe-view-layout-block-13 pe-container pe-view-layout-class-columns">
                <div class="row-fluid pe-container">
                    <div class="span8">
                        <div class="pe-block pe-view-layout-block pe-view-layout-block-14 pe-container pe-view-layout-class-container">
                            <div class="pe-block  pe-view-layout-block pe-view-layout-block-11">
                                <div class="pe-container">
                                    <div style="text-align: right; line-height: 1.3;">
                                        <span class="CT13 CTspacingnormal CTwhite">
                                            {{ site.data[page.language].about_location }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="pe-block pe-view-layout-block pe-view-layout-block-15 pe-container pe-view-layout-class-container">
                            <div class="pe-block  pe-view-layout-block pe-view-layout-block-16">
                                <div class="pe-container">
                                    <p>
                                        <span class="ctshortcutbutton"
                                              style=" display:inline-block; vertical-align:middle;">
                                            <a class="contour-btn btngold"
                                               href="/{{ page.language }}/quick-contact/">
                                                {{ site.data[page.language].quick_contact }}
                                            </a>
                                        </span>
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-2 pe-style-light"
                id="about"
                style="padding: 60px 0 60px 0; background-color:#ffffff;background-color:rgba(255,255,255,1);">
            <h2>
                <span class="h1Black">
                    {{ site.data[page.language].about_heading }}
                </span>
            </h2>
            <div class="pe-block pe-view-layout-block pe-view-layout-block-3 pe-container pe-view-layout-class-columns">
                <div class="row-fluid pe-container">
                    <div class="span6">
                        <div class="pe-block pe-view-layout-block pe-view-layout-block-7 pe-container pe-view-layout-class-container">
                            <div class="pe-block  pe-view-layout-block pe-view-layout-block-5">
                                <div class="pe-container">
                                    <div style="text-align: justify;-ms-text-align-last: center; "
                                         id="aboutustext">
                                        <p>
                                            <span class="h1Gold">
                                                {{ site.data[page.language].about_about_us }}
                                            </span>
                                        </p>
                                        <p>
                                            <span class="aboutUsH">
                                                {{ site.data[page.language].about_about_us_text_1 }}
                                            </span>
                                        </p>
                                        <p>
                                            <span class="aboutUsH">
                                                {{ site.data[page.language].about_about_us_text_2 }}
                                            </span>
                                        </p>
                                        <p>
                                            <span class="aboutUsH">
                                                {{ site.data[page.language].about_about_us_text_3 }}
                                            </span>
                                        </p>
                                        <p>
                                            <span class="h1Gold">
                                                {{ site.data[page.language].about_management_team }}
                                            </span>
                                        </p>
                                        <p>
                                            <span class="aboutUsH">
                                                {{ site.data[page.language].about_management_team_text_1 }}
                                            </span>
                                        </p>
                                        <p>
                                            <span class="aboutUsH">
                                                {{ site.data[page.language].about_management_team_text_2 }}
                                            </span>
                                        </p>
                                        <p>
                                            <span class="aboutUsH">
                                                {{ site.data[page.language].about_management_team_text_3 }}
                                            </span>
                                        </p>
                                        <p>
                                            <span class="aboutUsH">
                                                {{ site.data[page.language].about_management_team_text_3 }}
                                            </span>
                                            <span class="h2Gold">
                                                <a href="https://www.chelcomanagement.com/"
                                                    title="www.chelcomanagement.com"
                                                    target="_blank">
                                                    www.chelcomanagement.com
                                                </a>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="pe-block pe-view-layout-block pe-view-layout-block-9 pe-container pe-view-layout-class-container">
                            <div class="pe-block  pe-view-layout-block pe-view-layout-block-8">
                                <div class="pe-container">
                                    <p>
                                        <img loading="lazy"
                                             class="aligncenter size-full wp-image-737"
                                             src="/assets/img/about2.jpg"
                                             alt=""
                                             width="450"
                                             height="580"
                                             srcset="/assets/img/about2.jpg 450w, /assets/img/about2-232x300.jpg 232w, /assets/img/about2-155x200.jpg 155w"
                                             sizes="(max-width: 450px) 100vw, 450px"/>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
