---
layout: default
---
        <section
                class="pe-main-section pe-splash-section pe-full-page pe-no-resize"
                id="section-splash"
                data-maxheight="0"
                data-minheight="300">
            <div class="peCaption pe-caption-persistent"
                 data-orig-width="940"
                 data-orig-height="300">
                <div class="peCaptionLayer"
                     data-origin="center"
                     data-transition="fadeIn"
                     data-duration="1"
                     data-delay="0"
                     data-x="0"
                     data-y="-100">
                    <div class="wrapper">
                        <a href="/{{ page.language }}/#in_business">
                            <img src="/assets/img/logo_index_{{ page.language }}.png"
                                 width="130" height="160" alt>
                            <span>
                                {{ site.data[page.language].start_here }}<i class="icon-down-open-mini"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pe-block">
                <div class="peSlider peVolo peNeedResize pe-block"
                     data-autopause="disabled"
                     data-speed="25"
                     data-fade="2"
                     data-transition="pz"
                     data-plugin="peVista"
                     data-controls-arrows="edges-full"
                     data-controls-bullets="disabled"
                     data-icon-font="enabled"
                     data-height="0,2.35,0">
                    <div class="peWrap">
                        <div data-delay="7" class="visible scale">
                            <img alt width="1279"
                                 height="719"
                                 src="/assets/img/bg3.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-2 pe-style-light pe-bg-center"
                id="in_business"
                style="padding: 30px 0 60px 0; background-color:#29353a;background-color:rgba(41,53,58,1);background-image:url(/assets/img/arrow.png);background-position: 50% 0;background-repeat:no-repeat;">
            <div class="pe-block  pe-view-layout-block pe-view-layout-block-38">
                <div class="pe-container">
                    <div style="width:100%; text-align:center;">
                        <span class="CTwhite CTwide CT15">
                            {{ site.data[page.language].now_you_are_in_business }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="pe-block pe-view-layout-block pe-view-layout-block-41 pe-container pe-view-layout-class-container">
                <div class="pe-block  pe-view-layout-block pe-view-layout-block-42">
                    <div class="pe-container">
                        <div>
                            <p>
                                <img loading="lazy"
                                    class="alignnone size-full wp-image-35 aligncenter"
                                    src="/assets/img/icon2.png"
                                    alt="icon2"
                                    width="60"
                                    height="60"/>
                            </p>
                            <p style="text-align: center;">
                                <span class="CTwhite CTsemibold CT15 CTnormal">
                                    {{ site.data[page.language].serviced_offices }}
                                </span>
                            </p>
                            <p style="text-align:justify;-ms-text-align-last:center; padding-left: 40px;padding-right: 40px; line-height: 1;">
                                <span class="CTgrey CT11 CTlight CTlineheight11">
                                    {{ site.data[page.language].serviced_offices_text }}
                                </span>.
                            </p>
                            <p style="text-align: center; line-height: 11px;">
                                <a href="/{{ page.language }}/services/#section-section12"
                                    class="CTyellow CTlineheight11 CTwide CT11 CTsemibold">
                                    {{ site.data[page.language].more }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-13 pe-style-light"
                id="section-section13"
                style="padding: 60px 0 20px 0; background-color:#b1900a;background-color:rgba(177,144,10,1);">
            <div class="pe-block pe-view-layout-block pe-view-layout-block-14 nomargin pe-view-layout-class-calltoaction">
                <div class="action">
                    <div class="pe-container">
                        <section class="row-fluid">
                            <div class="span12">
                                <div style="max-width:500px; margin-left:auto; margin-right:auto; text-align:center; margin-bottom:20px;">
                                    <span class="CTwhite CTwide CT15">
                                        {{ site.data[page.language].visual_tour_text }}
                                    </span>
                                    <br/>
                                    <a href="/{{ page.language }}/visual-tour/">
                                        <div class="button bluebutton CTyellow CTlineheight11 CTwide CT11 CTsemibold">
                                            {{ site.data[page.language].enter }}
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-15 pe-style-light pe-bg-center"
                id="section-section15"
                style="padding: 25px 0 0 0; background-color:#29353a;background-color:rgba(41,53,58,1);background-image:url(/assets/img/arrow.png);background-position: 50% 50%;background-repeat:no-repeat;">
            <h2>
                {{ site.data[page.language].locate_ctbc }}
            </h2>
            <div class="pe-block  pe-view-layout-block pe-view-layout-block-16">
                <div class="pe-container">
                    <div class="wpgmp_map_container wpgmp-map-1" rel="map1">
                        <div class="wpgmp_map "
                             style="width:100%; height:500px;" id="map1">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.126396937729!2d33.04629517637895!3d34.67675927292799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14e7331bb3ba19f7%3A0xd6795b7c905ac8c6!2sChristodoulou%20Chatzipavlou%20221%2C%20Limassol%2C%20Cyprus!5e0!3m2!1sen!2sus!4v1685994863250!5m2!1sen!2sus"
                                    style="border:0;"
                                    allowfullscreen=""
                                    width="100%"
                                    height="500"
                                    loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-17 pe-style-light"
                id="contact_us"
                style="padding: 25px 0 1px 0; background-color:#b1900a;background-color:rgba(177,144,10,1);">
            <h2>
                {{ site.data[page.language].contact_ctbc }}
            </h2>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-18 pe-style-light pe-bg-center"
                id="section-section18"
                style="padding: 60px 0 60px 0; background-color:#29353a;background-color:rgba(41,53,58,1);background-image:url(/assets/img/arrow2.png);background-position: 50% 0;background-repeat:no-repeat;">
            <h2>
                Title
            </h2>
            <div class="pe-block pe-view-layout-block pe-view-layout-block-40 pe-container pe-view-layout-class-container"></div>
            <div class="pe-block pe-view-layout-block pe-view-layout-block-19 pe-container pe-view-layout-class-columns">
                <div class="row-fluid pe-container">
                    <div class="span6">
                        <div class="pe-block pe-view-layout-block pe-view-layout-block-33 pe-container pe-view-layout-class-container">
                            <div class="pe-block pe-block-fullwidth pe-view-layout-block pe-view-layout-block-20">
                                <div class="headercustom">
                                    {{ site.data[page.language].email_us }}
                                </div>
                            </div>
                            <div class="pe-block pe-block-fullwidth pe-view-layout-block pe-view-layout-block-24">
                                <div class="centercustom">
                                    <img src="/assets/img/email1.png"
                                         style="margin-left: auto; margin-right: auto;"
                                         alt="">
                                </div>
                            </div>
                            <div class="pe-block pe-block-fullwidth pe-view-layout-block pe-view-layout-block-21">
                                <div class="headercustom">
                                    {{ site.data[page.language].visit_us_on_site }}
                                </div>
                            </div>
                            <div class="pe-block pe-block-fullwidth pe-view-layout-block pe-view-layout-block-35">
                                <div class="centercustom">
                                    {{ site.data[page.language].contact_address }}
                                </div>
                            </div>
                            <div class="pe-block pe-block-fullwidth pe-view-layout-block pe-view-layout-block-22">
                                <div class="headercustom">
                                    {{ site.data[page.language].find_us_on_2gis }}
                                </div>
                            </div>
                            <div class="pe-block pe-block-fullwidth pe-view-layout-block pe-view-layout-block-36">
                                <div class="centercustom">
                                    <a href="http://2gis.com.cy/limassol/query/CT%20Business%20Center/firm/70000001007224948/center/33.046553%2C34.676978/zoom/17"
                                       target="_blank">
                                        <img loading="lazy"
                                             style="margin-left: auto; margin-right: auto;"
                                             class="alignnone size-full wp-image-129"
                                             src="/assets/img/2gis.png"
                                             alt="2gis"
                                             width="70"
                                             height="35"/>
                                    </a>
                                </div>
                            </div>
                            <div class="pe-block pe-block-fullwidth pe-view-layout-block pe-view-layout-block-23">
                                <div class="headercustom">
                                    {{ site.data[page.language].call_us }}
                                </div>
                            </div>
                            <div class="pe-block pe-block-fullwidth pe-view-layout-block pe-view-layout-block-37">
                                <div class="centercustom">
                                    {{ site.data[page.language].call_phone }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="pe-block pe-view-layout-block pe-view-layout-block-34 pe-container pe-view-layout-class-container">
                            <div class="pe-block pe-block-fullwidth pe-view-layout-block pe-view-layout-block-27">
                                <div class="headercustom">
                                    {{ site.data[page.language].contact_us }}
                                </div>
                            </div>
                            <div class="pe-block pe-block-fullwidth pe-view-layout-block pe-view-layout-block-39">
                                <div role="form"
                                     class="wpcf7"
                                     id="wpcf7-f927-p15-o2"
                                     lang="en-US"
                                     dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <form action="index.html#wpcf7-f927-p15-o2"
                                          method="post"
                                          class="wpcf7-form"
                                          novalidate="novalidate">
                                        <div style="display: none;">
                                            <input type="hidden"
                                                   name="_wpcf7"
                                                   value="927"/>
                                            <input type="hidden"
                                                   name="_wpcf7_version"
                                                   value="5.0.3"/>
                                            <input type="hidden"
                                                   name="_wpcf7_locale"
                                                   value="en_US"/>
                                            <input type="hidden"
                                                   name="_wpcf7_unit_tag"
                                                   value="wpcf7-f927-p15-o2"/>
                                            <input type="hidden"
                                                   name="_wpcf7_container_post"
                                                   value="15"/>
                                        </div>
                                        <div class="cflabel">
                                            {{ site.data[page.language].contact_name }}*
                                        </div>
                                        <div class="cfinput"><span
                                                class="wpcf7-form-control-wrap your-name">
                                            <input
                                                type="text"
                                                name="your-name"
                                                value size="40"
                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                aria-required="true"
                                                aria-invalid="false"/>
                                        </span>
                                        </div>
                                        <div class="cflabel">
                                            {{ site.data[page.language].contact_email }}*
                                        </div>
                                        <div class="cfinput">
                                            <span class="wpcf7-form-control-wrap your-email">
                                                <input type="email"
                                                       name="your-email"
                                                       value size="40"
                                                       class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                       aria-required="true"
                                                       aria-invalid="false"/>
                                            </span>
                                        </div>
                                        <div class="cflabel">
                                            {{ site.data[page.language].contact_company }}
                                        </div>
                                        <div class="cfinput">
                                            <span class="wpcf7-form-control-wrap Company">
                                            <input type="text"
                                                   name="Company"
                                                   value
                                                   size="40"
                                                   class="wpcf7-form-control wpcf7-text"
                                                   aria-invalid="false"/>
                                            </span>
                                        </div>
                                        <div class="cflabel">
                                            {{ site.data[page.language].contact_country }}
                                        </div>
                                        <div class="cfinput">
                                            <span class="wpcf7-form-control-wrap Country">
                                            <input type="text"
                                                   name="Country"
                                                   value
                                                   size="40"
                                                   class="wpcf7-form-control wpcf7-text"
                                                   aria-invalid="false"/>
                                            </span>
                                        </div>
                                        <div class="cflabel">
                                            {{ site.data[page.language].contact_query }}*
                                        </div>
                                        <div class="cfinput">
                                            <span class="wpcf7-form-control-wrap Query">
                                            <textarea name="Query"
                                                      cols="40"
                                                      rows="10"
                                                      class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
                                                      aria-required="true"
                                                      aria-invalid="false"></textarea>
                                            </span>
                                        </div>
                                        <div class="cflabel">
                                            *{{ site.data[page.language].contact_fields_required }}
                                        </div>
                                        <div class="cfbtn">
                                            <input type="submit"
                                                   value="{{ site.data[page.language].contact_send_query }}"
                                                   class="wpcf7-form-control wpcf7-submit"/>
                                        </div>
                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
