---
layout: default
---
        <section
                class="pe-main-section pe-splash-section pe-full-page pe-no-resize"
                id="section-splash" data-maxheight="0" data-minheight="300">
            <div class="peCaption pe-caption-persistent" data-orig-width="940"
                 data-orig-height="300">
                <div class="peCaptionLayer" data-origin="center"
                     data-transition="fadeIn" data-duration="1" data-delay="0"
                     data-x="0" data-y="-100">
                    <div class="wrapper">
                        <a href="location.html#section-section2">
                            <img src="/assets/img/logo_location_{{ page.language }}.png"
                                 width="130"
                                 height="160"
                                 alt>
                            <span>
                                {{ site.data[page.language].location }}<i class="icon-down-open-mini"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pe-block">
                <div class="peSlider peVolo peNeedResize pe-block"
                     data-autopause="disabled" data-speed="25" data-fade="2"
                     data-transition="pz" data-plugin="peVista"
                     data-controls-arrows="edges-full"
                     data-controls-bullets="disabled" data-icon-font="enabled"
                     data-height="0,2.35,0">
                    <div class="peWrap">
                        <div data-delay="7" class="visible scale">
                            <img alt width="1280"
                                 height="720"
                                 src="/assets/img/outdoor5.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-2 pe-style-light"
                id="section-section2"
                style="padding: 60px 0 60px 0; background-color:#b1900a;background-color:rgba(177,144,10,1);">
            <div class="pe-block pe-view-layout-block pe-view-layout-block-3 pe-container pe-view-layout-class-columns">
                <div class="row-fluid pe-container">
                    <div class="span8">
                        <div class="pe-block pe-view-layout-block pe-view-layout-block-5 pe-container pe-view-layout-class-container">
                            <div class="pe-block  pe-view-layout-block pe-view-layout-block-6">
                                <div class="pe-container">
                                    <div style="text-align: right; line-height: 1.3;">
                                        <span class="CT13 CTspacingnormal CTwhite">
                                            {{ site.data[page.language].location_text }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="pe-block pe-view-layout-block pe-view-layout-block-7 pe-container pe-view-layout-class-container">
                            <div class="pe-block  pe-view-layout-block pe-view-layout-block-8">
                                <div class="pe-container">
                                    <p>
                                        <span class="ctshortcutbutton" style=" display:inline-block; vertical-align:middle;">
                                            <a class="contour-btn btncustom"
                                               href="/{{ page.language }}/quick-contact/">
                                                {{ site.data[page.language].quick_contact }}
                                            </a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-9 pe-style-light"
                id="section-section9"
                style="padding: 30px 0 5px 0; background-color:#29353a;background-color:rgba(41,53,58,1);">
            <h2>
                {{ site.data[page.language].location }}
            </h2>
            <div class="pe-block pe-block-fullwidth pe-view-layout-block pe-view-layout-block-10">
                <div class="wpgmp_map_container wpgmp-map-1" rel="map1">
                    <div class="wpgmp_map "
                         style="width:100%; height:500px;"
                         id="map1">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.126396937729!2d33.04629517637895!3d34.67675927292799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14e7331bb3ba19f7%3A0xd6795b7c905ac8c6!2sChristodoulou%20Chatzipavlou%20221%2C%20Limassol%2C%20Cyprus!5e0!3m2!1sen!2sus!4v1685994863250!5m2!1sen!2sus"
                                style="border:0;"
                                allowfullscreen=""
                                width="100%"
                                height="500"
                                loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>
                </div>
            </div>
        </section>
