---
layout: default
---
        <section
                class="pe-main-section pe-splash-section pe-full-page pe-no-resize"
                id="section-splash"
                data-maxheight="0"
                data-minheight="300">
            <div class="peCaption pe-caption-persistent"
                 data-orig-width="940"
                 data-orig-height="300">
                <div class="peCaptionLayer"
                     data-origin="center"
                     data-transition="fadeIn"
                     data-duration="1"
                     data-delay="0"
                     data-x="0"
                     data-y="-100">
                    <div class="wrapper">
                        <a href="/{{ page.language }}/services/#services">
                            <img src="/assets/img/logo_services_{{ page.language }}.png"
                                 width="110"
                                 height="155"
                                 alt>
                            <span>
                                {{ site.data[page.language].menu_services }}<i class="icon-down-open-mini"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pe-block">
                <div class="peSlider peVolo peNeedResize pe-block"
                     data-autopause="disabled"
                     data-speed="25"
                     data-fade="2"
                     data-transition="pz"
                     data-plugin="peVista"
                     data-controls-arrows="edges-full"
                     data-controls-bullets="disabled"
                     data-icon-font="enabled"
                     data-height="0,2.35,0">
                    <div class="peWrap">
                        <div data-delay="7" class="visible scale">
                            <img alt
                                 width="1280"
                                 height="720"
                                 src="/assets/img/03.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-2 pe-style-light"
                id="services"
                style="padding: 60px 0 60px 0; background-color:#b1900a;background-color:rgba(177,144,10,1);">
            <div class="pe-block pe-view-layout-block pe-view-layout-block-22 pe-container pe-view-layout-class-columns">
                <div class="row-fluid pe-container">
                    <div class="span8">
                        <div class="pe-block pe-view-layout-block pe-view-layout-block-23 pe-container pe-view-layout-class-container">
                            <div class="pe-block  pe-view-layout-block pe-view-layout-block-24">
                                <div class="pe-container">
                                    <div style="text-align: right; line-height: 1.3;">
                                        <span class="CT13 CTspacingnormal CTwhite">
                                            {{ site.data[page.language].services_location }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="pe-block pe-view-layout-block pe-view-layout-block-25 pe-container pe-view-layout-class-container">
                            <div class="pe-block  pe-view-layout-block pe-view-layout-block-26">
                                <div class="pe-container">
                                    <p>
                                        <span class="ctshortcutbutton"
                                              style=" display:inline-block; vertical-align:middle;">
                                            <a class="contour-btn btncustom"
                                               href="/{{ page.language }}/quick-contact/">
                                                {{ site.data[page.language].quick_contact }}
                                            </a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-12 pe-style-light"
                id="section-section12"
                style="padding: 30px 0 5px 0; background-color:#243841;background-color:rgba(36,56,65,1);">
            <h2>
                <span class="h1Gold">
                    {{ site.data[page.language].serviced_offices }}
                </span>
            </h2>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-13 pe-style-light pe-bg-center"
                id="section-section13"
                style="padding: 60px 0 180px 0; background-color:#ffffff;background-color:rgba(255,255,255,1);background-image:url(/assets/img/smallarrow.png);background-position: 50% 0;background-repeat:no-repeat;">
            <div class="pe-block  pe-view-layout-block pe-view-layout-block-14">
                <div class="pe-container">
                    <p>
                        <img loading="lazy"
                             class="size-full wp-image-299 aligncenter"
                             src="/assets/img/s2.jpg"
                             alt="s2"
                             width="60"
                             height="60"/>
                    </p>
                    <p style="text-align: center;"
                       class="aboutUsH">
                        {{ site.data[page.language].services_serviced_offices_1 }}
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        {{ site.data[page.language].services_serviced_offices_2 }}
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        {{ site.data[page.language].services_serviced_offices_3 }}
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        {{ site.data[page.language].services_serviced_offices_4 }}
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        <span class="h2Gold">
                            {{ site.data[page.language].services_serviced_offices_business_1 }}
                        </span>
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        {{ site.data[page.language].services_serviced_offices_business_2 }}
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        {{ site.data[page.language].services_serviced_offices_5 }}
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        <span class="h1Black">
                            {{ site.data[page.language].services_serviced_offices_6 }}
                        </span>
                    </p>
                </div>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-15 pe-style-light"
                id="section-section15"
                style="padding: 30px 0 5px 0; background-color:#243841;background-color:rgba(36,56,65,1);">
            <h2>
                <span class="h1Gold">
                    {{ site.data[page.language].services_support_facilities_1 }}
                </span>
            </h2>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-17 pe-style-light pe-bg-center"
                id="section-section17"
                style="padding: 30px 0 180px 0; background-color:#ffffff;background-color:rgba(255,255,255,1);background-image:url(/assets/img/smallarrow.png);background-position: 50% 0;background-repeat:no-repeat;">
            <div class="pe-block  pe-view-layout-block pe-view-layout-block-18">
                <div class="pe-container">
                    <p style="text-align: center;" class="aboutUsH">
                        <img loading="lazy"
                             class="size-full wp-image-323 aligncenter"
                             src="/assets/img/s3.jpg"
                             alt="s3"
                             width="60"
                             height="60"/>
                        <br/>
                        <span class="h2Gold">
                            {{ site.data[page.language].services_support_facilities_guests_1 }}
                        </span>
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        {{ site.data[page.language].services_support_facilities_guests_2 }}
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        <span class="h2Gold">
                            {{ site.data[page.language].services_support_facilities_it_1 }}
                        </span>
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        {{ site.data[page.language].services_support_facilities_it_2 }}
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        <span class="h2Gold">
                            {{ site.data[page.language].services_support_facilities_personnel_1 }}
                        </span>
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        {{ site.data[page.language].services_support_facilities_personnel_2 }}
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        <span class="h1Black">
                            {{ site.data[page.language].services_support_facilities_2 }}
                        </span>
                    </p>
                </div>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-16 pe-style-light"
                id="section-section16"
                style="padding: 30px 0 5px 0; background-color:#243841;background-color:rgba(36,56,65,1);">
            <h2>
                <span class="h1Gold">
                    {{ site.data[page.language].services_marketing_1 }}
                </span>
            </h2>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-19 pe-style-light pe-bg-center"
                id="section-section19"
                style="padding: 30px 0 180px 0; background-color:#ffffff;background-color:rgba(255,255,255,1);background-image:url(/assets/img/smallarrow.png);background-position: 50% 0;background-repeat:no-repeat;">
            <div class="pe-block  pe-view-layout-block pe-view-layout-block-20">
                <div class="pe-container">
                    <p style="text-align: center;" class="aboutUsH">
                        <img loading="lazy"
                             class="aligncenter size-full wp-image-333"
                             src="/assets/img/s4.jpg"
                             alt="s4"
                             width="60"
                             height="60"/>
                        <br/>
                        {{ site.data[page.language].services_marketing_2 }}
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        {{ site.data[page.language].services_marketing_3 }}
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        <span class="h2Gold">
                            {{ site.data[page.language].services_identity_1 }}
                    </span>
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        {{ site.data[page.language].services_identity_2 }}
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        {{ site.data[page.language].services_identity_3 }}
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        {{ site.data[page.language].services_identity_4 }}
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        <span class="h1Black">
                            {{ site.data[page.language].services_identity_5 }}
                        </span>
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        <span class="h2Gold">
                            {{ site.data[page.language].services_website_1 }}
                        </span>
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        {{ site.data[page.language].services_website_2 }}
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        {{ site.data[page.language].services_website_3 }}
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        {{ site.data[page.language].services_website_4 }}
                        * On-line
                        forms and log-ins, on-line payments and other custom
                        programming not included
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        <span class="h2Gold">
                            {{ site.data[page.language].services_hosting_1 }}
                        </span>
                    </p>
                    <p style="text-align: center;" class="aboutUsH">
                        {{ site.data[page.language].services_hosting_2 }}
                    </p>
                </div>
            </div>
        </section>
