---
layout: default
---
            <section
                class="pe-main-section pe-splash-section pe-full-page pe-no-resize"
                id="section-splash"
                data-maxheight="0"
                data-minheight="300">
            <div class="peCaption pe-caption-persistent"
                 data-orig-width="940"
                 data-orig-height="300">
                <div class="peCaptionLayer"
                     data-origin="center"
                     data-transition="fadeIn"
                     data-duration="1"
                     data-delay="0"
                     data-x="0"
                     data-y="-100">
                    <div class="wrapper">
                        <a href="/{{ page.language }}/visual-tour/#visual_tour">
                            <img src="/assets/img/logo_visualtour_{{ page.language }}.png"
                                 width="130"
                                 height="155"
                                 alt>
                            <span>
                                {{ site.data[page.language].visual_tour_visual_tour }}<i class="icon-down-open-mini"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pe-block">
                <div class="peSlider peVolo peNeedResize pe-block"
                     data-autopause="disabled"
                     data-speed="25"
                     data-fade="2"
                     data-transition="pz"
                     data-plugin="peVista"
                     data-controls-arrows="edges-full"
                     data-controls-bullets="disabled"
                     data-icon-font="enabled"
                     data-height="0,2.35,0">
                    <div class="peWrap">
                        <div data-delay="7" class="visible scale">
                            <img alt width="1280"
                                 height="730"
                                 src="/assets/img/outdoor23.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-2 pe-style-light"
                id="visual_tour"
                style="padding: 30px 0 5px 0; background-color:#b1900a;background-color:rgba(177,144,10,1);">
            <div class="pe-block  pe-view-layout-block pe-view-layout-block-8">
                <div class="pe-container">
                    <p style="text-align: center;">
                        <span class="h3custom">
                            {{ site.data[page.language].visual_tour_visual_tour_text }}
                        </span>
                    </p>
                </div>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-9 pe-style-dark"
                id="section-section9"
                style="padding: 30px 0 5px 0; background-color:#243841;background-color:rgba(36,56,65,1);">
            <div class="pe-block pe-block-fullwidth pe-view-layout-block pe-view-layout-block-14">
                <p style="text-align: center;">
                    <span class="h1Gold">
                        {{ site.data[page.language].visual_tour_360_tour }}
                    </span>
                </p>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-51 pe-style-light"
                id="section-section51"
                style="padding: 60px 0 60px 0; ">
            <div class="pe-block nomargin pe-block-fullwidth">
                <div class="pe-block">
                    <div class="peSlider peVolo peNeedResize pe-block"
                         data-autopause="disabled"
                         data-speed="10"
                         data-fade="2"
                         data-transition="fade"
                         data-plugin="peVista"
                         data-controls-arrows="edges-full"
                         data-controls-bullets="disabled"
                         data-icon-font="enabled"
                         data-height="0,2.35,450">
                        <div class="peWrap">
                            <div data-delay="7" class="visible scale">
                                <a href="/{{ page.language }}/360-3/"
                                   data-flare-gallery="fsGallery941">
                                    <img alt width="1280" height="450"
                                         src="/assets/img/3602.jpg"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-12 pe-style-light"
                id="photo_gallery"
                style="padding: 30px 0 5px 0; background-color:#243841;background-color:rgba(36,56,65,1);">
            <div class="pe-block  pe-view-layout-block pe-view-layout-block-13">
                <div class="pe-container">
                    <p style="text-align: center;">
                        <span class="h1Gold">
                            {{ site.data[page.language].visual_tour_photo_gallery }}
                        </span>
                    </p>
                </div>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-15 pe-style-light pe-bg-center"
                id="section-section15"
                style="padding: 60px 0 60px 0; background-color:#ffffff;background-color:rgba(255,255,255,1);background-image:url(/assets/img/smallarrow.png);background-position: 50% 0;background-repeat:no-repeat;">
            <div class="pe-block pe-block-fullwidth">
                <div class="pe-block" id="pe-load-more-blog-815">
                    <div class="pe-ajax-portfolio">
                        <div class="pe-ajax-portfolio-spinner">
                            <div class="pe-spinner"></div>
                        </div>
                        <div class="pe-ajax-portfolio-navigation">
                            <div>
                                <a href="/{{ page.language }}/visual-tour/#"
                                   class="pe-prev"
                                   data-action="prev">
                                    <i class="icon-left-open"></i>
                                </a>
                                <a href="/{{ page.language }}/visual-tour/#"
                                   class="pe-close"
                                   data-action="close">
                                    <i class="icon-cancel"></i>
                                </a>
                                <a href="/{{ page.language }}/visual-tour/#"
                                   class="pe-next"
                                   data-action="next">
                                    <i class="icon-right-open"></i>
                                </a>
                            </div>
                        </div>
                        <div class="pe-scroller">
                            <div class="pe-scroller-slide"
                                 id="portfolio-815-345">
                                <div class="peIsotope portfolio pe-no-resize">
                                    <div class="pe-container filter">
                                        <div>
                                            <nav class="project-filter pe-menu-main">
                                                <ul class="pe-menu peIsotopeFilter">
                                                    <li>
                                                        <a class=" active"
                                                           data-category
                                                           href="/{{ page.language }}/visual-tour/#">
                                                            {{ site.data[page.language].visual_tour_all }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class
                                                           data-category="offices-2"
                                                           href="/{{ page.language }}/visual-tour/#">
                                                            {{ site.data[page.language].visual_tour_offices }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class
                                                           data-category="interior-2"
                                                           href="/{{ page.language }}/visual-tour/#">
                                                            {{ site.data[page.language].visual_tour_interior }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class
                                                           data-category="exterior"
                                                           href="/{{ page.language }}/visual-tour/#">
                                                            {{ site.data[page.language].visual_tour_exterior }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="peIsotopeContainer peIsotopeGrid pe-scroller-set-width"
                                         data-cell-width="320"
                                         data-cell-height="240"
                                         data-cell-gx="4"
                                         data-cell-gy="4"
                                         data-sort="none">
                                        <div class="row-fluid">
                                            <div class="span12"
                                                 id="pe-load-more-portfolio-815-345">
                                                <div class="pe-scroller-slide pe-project-item pe-no-resize pe-scroller-set-width pe-load-more-item"
                                                     data-slide="1"
                                                     data-direction="left"
                                                     data-slug="conference-room-1"
                                                     data-load="{{ site.data.settings.url }}/{{ page.language }}/project/conference-room-1/ .pe-portfolio-scroller-item">
                                                </div>
                                                <div class="peIsotopeItem pe-grid-img pe-load-more-item filter-offices-2">
                                                    <span class="cell-title">
                                                        <span>
                                                            <a href="/{{ page.language }}/project/conference-room-1/" data-slide="1">
                                                                {{ site.data[page.language].visual_tour_conference_room_1 }}
                                                            </a>
                                                        </span>
                                                    </span>
                                                    <div data-animation="fadeIn"
                                                         class="scalable pe-animation-maybe"
                                                         data-cols="1"
                                                         data-rows="1">
                                                        <a class
                                                           href="/{{ page.language }}/project/conference-room-1/"
                                                           data-slide="1"
                                                           id="portfolio-815-345-1"
                                                           data-slug="conference-room-1">
                                                            <img alt width="320"
                                                                 height="240"
                                                                 src="/assets/img/indoor3-320x240.jpg"/>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="pe-scroller-slide pe-project-item pe-no-resize pe-scroller-set-width pe-load-more-item"
                                                     data-slide="2"
                                                     data-direction="left"
                                                     data-slug="conference-room-2"
                                                     data-load="{{ site.data.settings.url }}/{{ page.language }}/project/conference-room-2/ .pe-portfolio-scroller-item">
                                                </div>
                                                <div class="peIsotopeItem pe-grid-img pe-load-more-item filter-offices-2">
                                                    <span class="cell-title">
                                                        <span>
                                                            <a href="/{{ page.language }}/project/conference-room-2/" data-slide="2">
                                                                {{ site.data[page.language].visual_tour_conference_room_2 }}
                                                            </a>
                                                        </span>
                                                    </span>
                                                    <div data-animation="fadeIn"
                                                         class="scalable pe-animation-maybe"
                                                         data-cols="1"
                                                         data-rows="1">
                                                        <a class
                                                           href="/{{ page.language }}/project/conference-room-2/"
                                                           data-slide="2"
                                                           id="portfolio-815-345-2"
                                                           data-slug="conference-room-2">
                                                            <img alt width="320"
                                                                 height="240"
                                                                 src="/assets/img/indoor4-320x240.jpg"/>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="pe-scroller-slide pe-project-item pe-no-resize pe-scroller-set-width pe-load-more-item"
                                                     data-slide="3"
                                                     data-direction="left"
                                                     data-slug="entrance-1"
                                                     data-load="{{ site.data.settings.url }}/{{ page.language }}/project/entrance-1/ .pe-portfolio-scroller-item">
                                                </div>
                                                <div class="peIsotopeItem pe-grid-img pe-load-more-item filter-exterior">
                                                    <span class="cell-title">
                                                        <span>
                                                            <a href="/{{ page.language }}/project/entrance-1/" data-slide="3">
                                                                {{ site.data[page.language].visual_tour_entrance_1 }}
                                                            </a>
                                                        </span>
                                                    </span>
                                                    <div data-animation="fadeIn"
                                                         class="scalable pe-animation-maybe"
                                                         data-cols="1"
                                                         data-rows="1">
                                                        <a class
                                                           href="/{{ page.language }}/project/entrance-1/"
                                                           data-slide="3"
                                                           id="portfolio-815-345-3"
                                                           data-slug="entrance-1">
                                                            <img alt width="320"
                                                                 height="240"
                                                                 src="/assets/img/outdoor5-320x240.jpg"/>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="pe-scroller-slide pe-project-item pe-no-resize pe-scroller-set-width pe-load-more-item"
                                                     data-slide="4"
                                                     data-direction="left"
                                                     data-slug="entrance-2"
                                                     data-load="{{ site.data.settings.url }}/{{ page.language }}/project/entrance-2/ .pe-portfolio-scroller-item">
                                                </div>
                                                <div class="peIsotopeItem pe-grid-img pe-load-more-item filter-exterior">
                                                    <span class="cell-title">
                                                        <span>
                                                            <a href="/{{ page.language }}/project/entrance-2/" data-slide="4">
                                                                {{ site.data[page.language].visual_tour_entrance_2 }}
                                                            </a>
                                                        </span>
                                                    </span>
                                                    <div data-animation="fadeIn"
                                                         class="scalable pe-animation-maybe"
                                                         data-cols="1"
                                                         data-rows="1">
                                                        <a class
                                                           href="/{{ page.language }}/project/entrance-2/"
                                                           data-slide="4"
                                                           id="portfolio-815-345-4"
                                                           data-slug="entrance-2">
                                                            <img alt width="320"
                                                                 height="240"
                                                                 src="/assets/img/outdoor4-320x240.jpg"/>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="pe-scroller-slide pe-project-item pe-no-resize pe-scroller-set-width pe-load-more-item"
                                                     data-slide="5"
                                                     data-direction="left"
                                                     data-slug="entrance-3"
                                                     data-load="{{ site.data.settings.url }}/{{ page.language }}/project/entrance-3/ .pe-portfolio-scroller-item">
                                                </div>
                                                <div class="peIsotopeItem pe-grid-img pe-load-more-item filter-exterior">
                                                    <span class="cell-title">
                                                        <span>
                                                            <a href="/{{ page.language }}/project/entrance-3/" data-slide="5">
                                                                {{ site.data[page.language].visual_tour_entrance_3 }}
                                                            </a>
                                                        </span>
                                                    </span>
                                                    <div data-animation="fadeIn"
                                                         class="scalable pe-animation-maybe"
                                                         data-cols="1"
                                                         data-rows="1">
                                                        <a class
                                                           href="/{{ page.language }}/project/entrance-3/"
                                                           data-slide="5"
                                                           id="portfolio-815-345-5"
                                                           data-slug="entrance-3">
                                                            <img alt width="320"
                                                                 height="240"
                                                                 src="/assets/img/outdoor1-320x240.jpg"/>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="pe-scroller-slide pe-project-item pe-no-resize pe-scroller-set-width pe-load-more-item"
                                                     data-slide="6"
                                                     data-direction="left"
                                                     data-slug="entrance-4"
                                                     data-load="{{ site.data.settings.url }}/{{ page.language }}/project/entrance-4/ .pe-portfolio-scroller-item">
                                                </div>
                                                <div class="peIsotopeItem pe-grid-img pe-load-more-item filter-interior-2">
                                                    <span class="cell-title">
                                                        <span>
                                                            <a href="/{{ page.language }}/project/entrance-4/" data-slide="6">
                                                                {{ site.data[page.language].visual_tour_entrance_4 }}
                                                            </a>
                                                        </span>
                                                    </span>
                                                    <div data-animation="fadeIn"
                                                         class="scalable pe-animation-maybe"
                                                         data-cols="1"
                                                         data-rows="1">
                                                        <a class
                                                           href="/{{ page.language }}/project/entrance-4/"
                                                           data-slide="6"
                                                           id="portfolio-815-345-6"
                                                           data-slug="entrance-4">
                                                            <img alt width="320"
                                                                 height="240"
                                                                 src="/assets/img/indoor7-320x240.jpg"/>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="pe-scroller-slide pe-project-item pe-no-resize pe-scroller-set-width pe-load-more-item"
                                                     data-slide="7"
                                                     data-direction="left"
                                                     data-slug="office"
                                                     data-load="{{ site.data.settings.url }}/{{ page.language }}/project/office/ .pe-portfolio-scroller-item">
                                                </div>
                                                <div class="peIsotopeItem pe-grid-img pe-load-more-item filter-offices-2">
                                                    <span class="cell-title">
                                                        <span>
                                                            <a href="/{{ page.language }}/project/office/" data-slide="7">
                                                                {{ site.data[page.language].visual_tour_office }}
                                                            </a>
                                                        </span>
                                                    </span>
                                                    <div data-animation="fadeIn"
                                                         class="scalable pe-animation-maybe"
                                                         data-cols="1"
                                                         data-rows="1">
                                                        <a class
                                                           href="/{{ page.language }}/project/office/"
                                                           data-slide="7"
                                                           id="portfolio-815-345-7"
                                                           data-slug="office">
                                                            <img alt width="320"
                                                                 height="240"
                                                                 src="/assets/img/indoor5-320x240.jpg"/>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="pe-scroller-slide pe-project-item pe-no-resize pe-scroller-set-width pe-load-more-item"
                                                     data-slide="8"
                                                     data-direction="left"
                                                     data-slug="reception"
                                                     data-load="{{ site.data.settings.url }}/{{ page.language }}/project/reception/ .pe-portfolio-scroller-item">
                                                </div>
                                                <div class="peIsotopeItem pe-grid-img pe-load-more-item filter-interior-2">
                                                    <span class="cell-title">
                                                        <span>
                                                            <a href="/{{ page.language }}/project/reception/" data-slide="8">
                                                                {{ site.data[page.language].visual_tour_reception_2 }}
                                                            </a>
                                                        </span>
                                                    </span>
                                                    <div data-animation="fadeIn"
                                                         class="scalable pe-animation-maybe"
                                                         data-cols="1"
                                                         data-rows="1">
                                                        <a class
                                                           href="/{{ page.language }}/project/reception/"
                                                           data-slide="8"
                                                           id="portfolio-815-345-8"
                                                           data-slug="reception">
                                                            <img alt width="320"
                                                                 height="240"
                                                                 src="/assets/img/indoor61-320x240.jpg"/>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="pe-scroller-slide pe-project-item pe-no-resize pe-scroller-set-width pe-load-more-item"
                                                     data-slide="9"
                                                     data-direction="left"
                                                     data-slug="reception-2"
                                                     data-load="{{ site.data.settings.url }}/{{ page.language }}/project/reception-2/ .pe-portfolio-scroller-item">
                                                </div>
                                                <div class="peIsotopeItem pe-grid-img pe-load-more-item filter-interior-2">
                                                    <span class="cell-title">
                                                        <span>
                                                            <a href="/{{ page.language }}/project/reception-2/" data-slide="9">
                                                                {{ site.data[page.language].visual_tour_reception_2 }}
                                                            </a>
                                                        </span>
                                                    </span>
                                                    <div data-animation="fadeIn"
                                                         class="scalable pe-animation-maybe"
                                                         data-cols="1"
                                                         data-rows="1">
                                                        <a class
                                                           href="/{{ page.language }}/project/reception-2/"
                                                           data-slide="9"
                                                           id="portfolio-815-345-9"
                                                           data-slug="reception-2">
                                                            <img alt width="320"
                                                                 height="240"
                                                                 src="/assets/img/indoor2-320x240.jpg"/>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="pe-scroller-slide pe-project-item pe-no-resize pe-scroller-set-width pe-load-more-item"
                                                     data-slide="10"
                                                     data-direction="left"
                                                     data-slug="reception-3"
                                                     data-load="{{ site.data.settings.url }}/{{ page.language }}/project/reception-3/ .pe-portfolio-scroller-item">
                                                </div>
                                                <div class="peIsotopeItem pe-grid-img pe-load-more-item filter-interior-2">
                                                    <span class="cell-title">
                                                        <span>
                                                            <a href="/{{ page.language }}/project/reception-3/" data-slide="10">
                                                                {{ site.data[page.language].visual_tour_reception_3 }}
                                                            </a>
                                                        </span>
                                                    </span>
                                                    <div data-animation="fadeIn"
                                                         class="scalable pe-animation-maybe"
                                                         data-cols="1"
                                                         data-rows="1">
                                                        <a class
                                                           href="/{{ page.language }}/project/reception-3/"
                                                           data-slide="10"
                                                           id="portfolio-815-345-10"
                                                           data-slug="reception-3">
                                                            <img alt width="320"
                                                                 height="240"
                                                                 src="/assets/img/indoor1-320x240.jpg"/>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pe-ajax-portfolio-navigation">
                            <div>
                                <a href="/{{ page.language }}/visual-tour/#"
                                   class="pe-prev"
                                   data-action="prev">
                                    <i class="icon-left-open"></i>
                                </a>
                                <a href="/{{ page.language }}/visual-tour/#"
                                   class="pe-close"
                                   data-action="close">
                                    <i class="icon-cancel"></i>
                                </a>
                                <a href="/{{ page.language }}/visual-tour/#"
                                   class="pe-next"
                                   data-action="next">
                                    <i class="icon-right-open"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-53 pe-style-light"
                id="section-section53"
                style="padding: 60px 0 60px 0; ">
            <div class="pe-block  pe-view-layout-block pe-view-layout-block-54">
                <div class="pe-container"></div>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-28 pe-style-light"
                id="floor_plans"
                style="padding: 30px 0 5px 0; background-color:#243841;background-color:rgba(36,56,65,1);">
            <div class="pe-block  pe-view-layout-block pe-view-layout-block-29">
                <div class="pe-container">
                    <p style="text-align: center;">
                        <span class="h1Gold">
                            {{ site.data[page.language].visual_tour_floor_plans }}
                        </span>
                    </p>
                </div>
            </div>
        </section>

        <section
                class="pe-main-section pe-view-layout-block pe-view-layout-block-30 pe-style-light pe-bg-center"
                id="section-section30"
                style="padding: 30px 0 30px 0; background-color:#ffffff;background-color:rgba(255,255,255,1);background-image:url(/assets/img/smallarrow.png);background-position: 50% 0;background-repeat:no-repeat;">
            <div class="pe-block pe-view-layout-block pe-view-layout-block-31 pe-container pe-view-layout-class-columns">
                <div class="row-fluid pe-container">
                    <div class="span6">
                        <div class="pe-block pe-view-layout-block pe-view-layout-block-32 pe-container pe-view-layout-class-container">
                            <div class="pe-block  pe-view-layout-block pe-view-layout-block-34">
                                <div class="pe-container">
                                    <p>
                                        <a href="/assets/img/blueprint1.jpg">
                                            <img loading="lazy"
                                                 class="aligncenter size-large wp-image-973"
                                                 src="/assets/img/blueprint1-1024x1024.jpg"
                                                 alt="blueprint1"
                                                 width="480"
                                                 height="480"
                                                 srcset="/assets/img/blueprint1-1024x1024.jpg 1024w, /assets/img/blueprint1-300x300.jpg 300w, /assets/img/blueprint1-100x100.jpg 100w, /assets/img/blueprint1-200x200.jpg 200w, /assets/img/blueprint1.jpg 1280w"
                                                 sizes="(max-width: 480px) 100vw, 480px"/>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="pe-block pe-view-layout-block pe-view-layout-block-33 pe-container pe-view-layout-class-container">
                            <div class="pe-block  pe-view-layout-block pe-view-layout-block-35">
                                <div class="pe-container">
                                    <div style="font-size:12px;">
                                        <b>
                                            <span style="color:#243841;">
                                                {{ site.data[page.language].visual_tour_ground_floor_layout }}
                                            </span>
                                        </b>
                                        <br/>
                                        <span style="font-size:12px;">
                                            {{ site.data[page.language].visual_tour_ground_floor_layout_text }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="pe-block  pe-view-layout-block pe-view-layout-block-43">
                                <div class="pe-container">
                                    <div style="font-size:12px;">
                                        <table style="width:100%">
                                            <thead>
                                            <tr>
                                                <th>{{ site.data[page.language].visual_tour_suite_number }}</th>
                                                <th>{{ site.data[page.language].visual_tour_floor }}</th>
                                                <th>{{ site.data[page.language].visual_tour_area }}</th>
                                                <th>{{ site.data[page.language].visual_tour_dimensions }}</th>
                                                <th>{{ site.data[page.language].visual_tour_orientation }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>{{ site.data[page.language].visual_tour_ground }}</td>
                                                <td>21.5 sq.m.</td>
                                                <td>6.10m x 3.52m</td>
                                                <td>{{ site.data[page.language].visual_tour_sea_view }}</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>{{ site.data[page.language].visual_tour_ground }}</td>
                                                <td>23 sq.m.</td>
                                                <td>4.70m x 4.94m</td>
                                                <td>{{ site.data[page.language].visual_tour_sea_view }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pe-block pe-view-layout-block pe-view-layout-block-44 pe-container pe-view-layout-class-columns">
                <div class="row-fluid pe-container">
                    <div class="span6">
                        <div class="pe-block pe-view-layout-block pe-view-layout-block-45 pe-container pe-view-layout-class-container">
                            <div class="pe-block  pe-view-layout-block pe-view-layout-block-48">
                                <div class="pe-container">
                                    <div style="font-size:12px;">
                                        <b>
                                            <span style="color:#243841;">
                                                {{ site.data[page.language].visual_tour_mezzanine_layout }}
                                            </span>
                                        </b>
                                        <br/>
                                        <span style="font-size:12px;">
                                            {{ site.data[page.language].visual_tour_mezzanine_layout_text }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="pe-block  pe-view-layout-block pe-view-layout-block-49">
                                <div class="pe-container">
                                    <div style="font-size:12px;">
                                        <table style="width:100%">
                                            <thead>
                                            <tr>
                                                <th>{{ site.data[page.language].visual_tour_suite_number }}</th>
                                                <th>{{ site.data[page.language].visual_tour_floor }}</th>
                                                <th>{{ site.data[page.language].visual_tour_area }}</th>
                                                <th>{{ site.data[page.language].visual_tour_dimensions }}</th>
                                                <th>{{ site.data[page.language].visual_tour_orientation }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>4</td>
                                                <td>{{ site.data[page.language].visual_tour_mezzanine }}</td>
                                                <td>20.5 sq.m.</td>
                                                <td>3.45m x 6m</td>
                                                <td>{{ site.data[page.language].visual_tour_sea_view }}</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>{{ site.data[page.language].visual_tour_mezzanine }}</td>
                                                <td>20.5 sq.m.</td>
                                                <td>3.40m x 6m</td>
                                                <td>{{ site.data[page.language].visual_tour_sea_view }}</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>{{ site.data[page.language].visual_tour_mezzanine }}</td>
                                                <td>20.5 sq.m.</td>
                                                <td>3.35m x 6m</td>
                                                <td>{{ site.data[page.language].visual_tour_sea_view }}</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>{{ site.data[page.language].visual_tour_mezzanine }}</td>
                                                <td>25 sq.m.</td>
                                                <td>7.35m x 3.45m</td>
                                                <td>{{ site.data[page.language].visual_tour_sea_view }}</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>{{ site.data[page.language].visual_tour_mezzanine }}</td>
                                                <td>20 sq.m.</td>
                                                <td>5.70m x 3m</td>
                                                <td>{{ site.data[page.language].visual_tour_city_view }}</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>{{ site.data[page.language].visual_tour_mezzanine }}</td>
                                                <td>10 sq.m.</td>
                                                <td>3.66m x 2.70m</td>
                                                <td>{{ site.data[page.language].visual_tour_city_view }}</td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>{{ site.data[page.language].visual_tour_mezzanine }}</td>
                                                <td>21.5 sq.m.</td>
                                                <td>7.27m x 2.97m</td>
                                                <td>{{ site.data[page.language].visual_tour_city_view }}</td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>{{ site.data[page.language].visual_tour_mezzanine }}</td>
                                                <td>29 sq.m.</td>
                                                <td>9.97m x 2.87m</td>
                                                <td>{{ site.data[page.language].visual_tour_city_view }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="pe-block pe-view-layout-block pe-view-layout-block-46 pe-container pe-view-layout-class-container">
                            <div class="pe-block  pe-view-layout-block pe-view-layout-block-47">
                                <div class="pe-container"><p><a
                                        href="/assets/img/blueprint2.jpg"><img
                                        loading="lazy"
                                        class="aligncenter size-large wp-image-977"
                                        src="/assets/img/blueprint2-1024x1024.jpg"
                                        alt="blueprint2" width="480"
                                        height="480"
                                        srcset="/assets/img/blueprint2-1024x1024.jpg 1024w, /assets/img/blueprint2-300x300.jpg 300w, /assets/img/blueprint2-100x100.jpg 100w, /assets/img/blueprint2-200x200.jpg 200w, /assets/img/blueprint2.jpg 1280w"
                                        sizes="(max-width: 480px) 100vw, 480px"/></a>
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
